header {
  color: black;
  font-size: 25px;
  background-color: white;
  text-align: center;
   /*Aqui temos a parte inicial do código, o CABEÇALHO*/
}

/*header {
  background: url(../images/integral-medica-suplementos.jpg);
  background-position: -5%;
}*/

h1 {
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 70px;
  position: relative;
  /*Relacionado ao título principal*/
}

h2 {
  text-align: center;
  font-size: 40px;
  font-family: sans-serif;
}

div form {
  	text-align-last: center;
  /*Parte onde possui o local de pesquisa do produto*/
}

div form input {
  border-width: 2px;
  border-top: 2px;
  line-height: 20px;
}

div form#busca button {
  width: 70px;
  height: 30px;
  border-radius: 10px;
  cursor: pointer;
  /*Botão OK*/
}

.busca-input {
  width: 450px;
  height:30px;
  border: 1px solid black;
  border-radius: 10px;
  /*Relacionado a barra onde se faz a pesquisa dos produtos*/
}

#menu ul {
    padding:0px;
    margin:0px;
    background-color: #EDEDED;
    list-style:none;
/*Relacionado a barra onde ficam os itens do menu*/
}

#menu ul li { display: inline; }
/*Deixa o menu em linha, na horizontal*/

#menu ul li a {
    padding: 2px 10px;
    display: inline-block;
    background-color: #EDEDED;
    color: black;
    text-decoration: blink;
    border-bottom:3px solid #EDEDED;

    /*Relacionado a barra do menu*/
}

#menu ul li a:hover {
    background-color:#D6D6D6;
    color: #6D6D6D;
    border-bottom:3px solid black;
    /*Relacionado ao menu, o que aparece quando arrastamos o mouse por cima das opções*/
}

div.form-title {
  font-size: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div.name label {
  font-size: 30px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
div.name input {
  border-radius: 8px;
  width: 30%;
  background-color: rgb(238, 224, 247);
  padding-top: 10px;
}

div.email label {
  font-size: 30px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
}
div.email input {
  border-radius: 8px;
  width: 22.5%;
  background-color: rgb(238, 224, 247);
  padding-top: 10px;
}

div.age  label {
  font-size: 30px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
}
div.age input {
  border-radius: 8px;
  width: 22%;
  background-color: rgb(238, 224, 247);
  padding-top: 10px;
}

div.phone label {
  font-size: 30px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
}
div.phone input {
  border-radius: 8px;
  width: 24.5%;
  background-color: rgb(238, 224, 247);
  padding-top: 10px;
}

div.cep label {
  font-size: 30px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
div.cep input {
  border-radius: 8px;
  width: 20.5%;
  background-color: rgb(238, 224, 247);
  padding-top: 10px;
}

div.state label {
  font-size: 30px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
}
div.state select {
  border-radius: 8px;
  width: 23%;
  background-color: rgb(238, 224, 247);
  padding-top: 10px;
}

div.city label {
  font-size: 30px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
}
div.city input {
  border-radius: 8px;
  width: 23.5%;
  background-color: rgb(238, 224, 247);
  padding-top: 10px;
}

div.neighborhood label {
  font-size: 30px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
}
div.neighborhood input {
  border-radius: 8px;
  width: 23%;
  background-color: rgb(238, 224, 247);
  padding-top: 10px;
}

div.address label {
  font-size: 30px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
}
div.address input {
  border-radius: 8px;
  width: 25.5%;
  background-color: rgb(238, 224, 247);
  padding-top: 10px;
}

div.house-number label {
  font-size: 30px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
}
div.house-number input {
  border-radius: 8px;
  width: 24.5%;
  background-color: rgb(238, 224, 247);
  padding-top: 10px;
}

div.complement label {
  font-size: 30px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
}
div.complement input {
  border-radius: 8px;
  width: 29.5%;
  background-color: rgb(238, 224, 247);
  padding-top: 10px;
}

div.btn-send button {
  border-radius: 10px;
  width: 10%;
  height: 4%;
  background-color: #007bff;
  border-color: #007bff;
}

div.btn-send button.btn-text {
  color: white;
  font-size: 15px;
}

div.result-cadastro {
  text-align: center;
}

div.result-cadastro h4 {
  font-size: 25px;
  color: black;
}

#result {
  color: #dc3545;;
  font-weight: bold;
  font-size: 20px;
}








